<a href="https://colab.research.google.com/github/yousefhm/twitter_retweet_analysis/blob/main/twitter_retweet_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Packages and libraries

In [ ]:
import pandas as pd
import numpy as np
import os 
import json

import tweepy
from tweepy import OAuthHandler

from timeit import default_timer as timer

import plotly.graph_objects as go

#**Gathering**

Import twitter-archive-enhanced.csv

In [ ]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = df_1.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

In [ ]:
#Read twitter-archive-enhanced.csv
df1_archive_enhanced = pd.read_csv('twitter-archive-enhanced.csv')

Import image prediction tsv from url

In [ ]:
#Read image prediction tsv from url
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
df2_image_predactions = requests.get(url)

with open(os.path.join('./', 'image_prediction.tsv'),mode='wb') as file:
  file.write(df2_image_predactions.content)

df2_image_predactions = pd.read_csv('image_prediction.tsv', sep='\t')

Read json object line by line from json file

In [ ]:
#Read json object line by line from json file
#Select required three 3 columns 'id', 'favorite_count', 'retweet_count'

df3_tweets =pd.DataFrame(columns=['id', 'favorite_count', 'retweet_count'])
with open('json_tweet.txt' , mode='r') as file:
  while True:
        line = file.readline()

        if len(line) == 0:
          break
        
        data = json.loads(line)
        tweet_dict = {'id' : data['id'],
                      'retweet_count' : data['retweet_count'],
                      'favorite_count' : data['favorite_count']}

        df3_tweets = df3_tweets.append(tweet_dict, ignore_index=True)

#**Assessing**

In [ ]:
#Return a tuple representing the dimensionality of the DataFrame.
df1_archive_enhanced.shape

(2356, 17)

In [ ]:
#Info method prints information about a DataFrame including the index dtype and columns,non-null values and memory usage.
df1_archive_enhanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [ ]:
#Total null values in data
df1_archive_enhanced.isnull().sum().sum()

11140

In [ ]:
#Locating places null value in which columns
df1_archive_enhanced.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [ ]:
#Return duplicate rows.
df1_archive_enhanced.duplicated().sum()

0

Twitter-archive-enhanced table assess
> Quality issues 
 * incorrect data type for 'timestamp' column.
 * incorrect rating in 'rating_numerator' column.
 * incorrect columns name ['doggo', 'floofer', 'pupper', 'puppo'].
 *missing records
 * convert None value with empty string

> Tidiness issues 
* 'doggo', 'floofer', 'pupper', 'puppo' columns, represent same data. 
* Create new column by merage 4columns ['doggo', 'floofer', 'pupper', 'puppo']

Image prediction

In [ ]:
#Show samples of data
df2_image_predactions.head()

             tweet_id  ... p3_dog
0  666020888022790149  ...   True
1  666029285002620928  ...   True
2  666033412701032449  ...   True
3  666044226329800704  ...   True
4  666049248165822465  ...   True

[5 rows x 12 columns]

In [ ]:
#Return a tuple representing the dimensionality of the DataFrame.
df2_image_predactions.shape

(2075, 12)

In [ ]:
#Info method prints information about a DataFrame including the index dtype and columns,non-null values and memory usage.
df2_image_predactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [ ]:
#Total null values in data
df2_image_predactions.isnull().sum().sum()

0

In [ ]:
#Return duplicate rows.
df2_image_predactions.duplicated().sum()

0

Image predactions table

> Quality issues
* Unclear columns name

> Tidiness
* --

Json file

In [ ]:
#Return a tuple representing the dimensionality of the DataFrame.
df3_tweets.shape

(2354, 3)

In [ ]:
#Info method prints information about a DataFrame including the index dtype and columns,non-null values and memory usage.
df3_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2354 non-null   object
 1   favorite_count  2354 non-null   object
 2   retweet_count   2354 non-null   object
dtypes: object(3)
memory usage: 55.3+ KB

In [ ]:
#Total null values in data
df3_tweets.isnull().sum().sum()

0

In [ ]:
#Return duplicate rows.
df3_tweets.duplicated().sum()

0

Tweets table

> Quality issues 
* change id cloumn to tweet_id

> Tidiness issues 
* merge with image_prediction table

#**Cleaning**

In [ ]:
#Make a copy of data files to save it from lose 

df1_archive_enhanced_copy = df1_archive_enhanced.copy()
df2_image_predactions_copy = df2_image_predactions.copy()
df3_tweets_copy = df3_tweets.copy()

Twitter-archive-enhanced table

In [ ]:
# Convert Dtype'timestamp' column to datetime.

df1_archive_enhanced_copy['timestamp'] = pd.to_datetime(df1_archive_enhanced_copy['timestamp'])

In [ ]:
#display columns in large shape 
pd.options.display.max_colwidth = 200

#Replace None value with empty string 
df1_archive_enhanced_copy.replace('None', '', regex=True, inplace= True)

#Create new columns called 'dog_breed'
#merage ['doggo', 'floofer', 'pupper', 'puppo'] columns into new 'dog_breed'
df1_archive_enhanced_copy['dog_breed'] = df1_archive_enhanced_copy['doggo'] + df1_archive_enhanced_copy['floofer'] + df1_archive_enhanced_copy['pupper'] + df1_archive_enhanced_copy['puppo']

#Drop extra columns in data
df1_archive_enhanced_copy.drop(['doggo', 'floofer', 'pupper','puppo','in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id','retweeted_status_user_id'], axis=1, inplace=True)
df1_archive_enhanced_copy.sample(20)

In [ ]:
#replace empty string with nan 
df1_archive_enhanced_copy.replace('', np.nan, regex=True, inplace= True)

In [ ]:
#To making dash- when picture has 2 typs 
df1_archive_enhanced_copy.loc[df1_archive_enhanced_copy['dog_breed'] == 'doggopupper','dog_breed'] ='doggo-pupper' 
df1_archive_enhanced_copy.loc[df1_archive_enhanced_copy['dog_breed'] == 'doggopuppo','dog_breed'] ='doggo-puppo'
df1_archive_enhanced_copy.loc[df1_archive_enhanced_copy['dog_breed'] == 'doggofloofer','dog_breed'] ='doggo-floofer'

In [ ]:
df1_archive_enhanced_copy['dog_breed'].value_counts()

pupper           245
doggo             83
puppo             29
doggo-pupper      12
floofer            9
doggo-floofer      1
doggo-puppo        1
Name: dog_breed, dtype: int64

Image predaction table and json table

In [ ]:
#Rename 'id' column to 'tweet_id'
df3_tweets_copy = df3_tweets_copy.rename(columns = {'id': 'tweet_id'}, inplace = False)

In [ ]:
#Convert 'tweet_id' column to int Dtype
df3_tweets_copy['tweet_id'].astype(int)

0       892420643555336193
1       892177421306343426
2       891815181378084864
3       891689557279858688
4       891327558926688256
               ...
2349    666049248165822465
2350    666044226329800704
2351    666033412701032449
2352    666029285002620928
2353    666020888022790149
Name: tweet_id, Length: 2354, dtype: int64

In [ ]:
#merge image predaction table and json table 
#new data frame called 'df_merge'
df_merge = pd.merge(df2_image_predactions_copy, df3_tweets_copy, on='tweet_id' )

In [ ]:
df_merge.to_csv('./twitter_archive_master.csv', index=False)

#Visualizations with insights

In [ ]:
df_merge.sample(10)

                tweet_id  ... retweet_count
1706  817777686764523521  ...          3084
1126  727524757080539137  ...          1379
314   671729906628341761  ...          4795
1161  734787690684657664  ...          7102
1661  811985624773361665  ...          1647
1370  762035686371364864  ...         17919
2009  878776093423087618  ...          4319
722   686003207160610816  ...           735
43    666776908487630848  ...           186
1375  763103485927849985  ...          2602

[10 rows x 14 columns]

In [ ]:
#checking image without find any dog in it
dog_image_prediction = df_merge.query('p1_dog == False & p2_dog == False & p3_dog == False')
dog_image_prediction

In [ ]:
df_merge[df_merge['p1_dog'] == True]['p1'].value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               88
Chihuahua              83
pug                    57
                     ...
clumber                 1
standard_schnauzer      1
Scotch_terrier          1
EntleBucher             1
silky_terrier           1
Name: p1, Length: 111, dtype: int64

**Insight 1**

In [ ]:
#Top 5 Dogs type appear in image 
dogs_type =['golden_retriever', 'Labrador_retriever', 'Pembroke', 'Chihuahua','pug']

fig = go.Figure([go.Bar(x=dogs_type, y=[150, 100, 88, 83, 57])])
fig.update_layout(title_text='Top 5 Dogs type appear in image')
fig.show()

In [ ]:
df_merge.describe()

           img_num      p1_conf       p2_conf       p3_conf
count  2073.000000  2073.000000  2.073000e+03  2.073000e+03
mean      1.203570     0.594532  1.346665e-01  6.034005e-02
std       0.561856     0.271234  1.006830e-01  5.092769e-02
min       1.000000     0.044333  1.011300e-08  1.740170e-10
25%       1.000000     0.364095  5.390140e-02  1.619920e-02
50%       1.000000     0.588230  1.186220e-01  4.947150e-02
75%       1.000000     0.843911  1.955730e-01  9.193000e-02
max       4.000000     1.000000  4.880140e-01  2.734190e-01

In [ ]:
df1_archive_enhanced_copy['dog_breed'].value_counts()

pupper           245
doggo             83
puppo             29
doggo-pupper      12
floofer            9
doggo-floofer      1
doggo-puppo        1
Name: dog_breed, dtype: int64

**Insight 2**

In [ ]:
#Top Dogs stage appear on data
dogs_stage =['pupper', 'doggo', 'puppo', 'doggo-pupper','floofer','doggo-floofer','doggo-puppo']

fig = go.Figure([go.Bar(x=dogs_stage, y=[245, 83, 29, 12, 9, 1, 1])])
fig.update_layout(title_text='Top Dogs stage appear on data')
fig.show()